:root {
    --color-white: #eaecf0;
    --color-link: #88a3e8;
    --color-subtitle: #a2a9b1;
    --background-color-general: #101418;
    --background-color-interactive: #27292d;
    --border-color-interactive: #6485d1;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background-color-general);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    color: var(--color-white);
    font-family: "Shafarik", serif;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header h1 {
    font-size: 2.6rem;
    margin-top: 4.4rem;
    margin-bottom: 0;
}

header h1 span {
    font-size: 3.6rem;
}

header h2 {
    font-size: 1.6rem;
    margin-top: 0;
}

main {
    width: 100%;
    font-family: sans-serif;
}

main .main-section-language {
    height: auto;
    display: flex;
    justify-content: center;
    height: fit-content;
    align-self: center;
    background-image: url("https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikipedia-logo-v2.png");
    background-position: center;
    background-size: 20rem;
    background-repeat: no-repeat;
}

main .main-section-language ul {
    padding: 0;
    list-style: none;
}

main .main-section-language div {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .main-section-language .close-left {
    margin-right: 6rem;
}

main .main-section-language .close-right {
    margin-left: 6rem;
}

main .main-section-language .medium-left {
    margin-right: 12rem;
}

main .main-section-language .medium-right {
    margin-left: 12rem;
}

main .main-section-language .large-left {
    margin-right: 14rem;
}

main .main-section-language .large-right {
    margin-left: 14rem;
}

main .main-section-language a {
    color: var(--color-link);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: .5rem 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main .main-section-language a:hover {
    text-decoration: underline;
    background-color: var(--background-color-interactive);
}

main .main-section-language span {
    color: var(--color-subtitle);
    font-size: 1.2rem;
}

main .main-section-search {
    display: flex;
    justify-content: center;
}

main .main-section-search input {
    background-color: var(--background-color-general);
    border: .1rem solid var(--color-white);
    width: 20%;
    height: 4rem;
    color: var(--color-white);
    font-size: 1.6rem;
}

main .main-section-search input:focus {
    border-color: var(--border-color-interactive);
    border-radius: 0;
}

main .main-section-search button {
    background-color: var(--border-color-interactive);
    height: 4.2rem;
}